@import url(./configs/Reset.css);
@import url(./configs/Colors.css);

body {
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

body::after {
  content: "";
  background: url("../../../../assets/home-background.png") no-repeat center center;
  background-size: cover;

  height: 100%;
  width: 100%;
  z-index: -2;

  position: fixed;
  inset: 0;
}

body::before {
  background: rgba(0, 0, 0, 0.5);
  content: "";

  width: 100%;
  height: 100%;
  z-index: -1;

  position: fixed;
  inset: 0;
}

#root {
  width: 100%;
  height: 100vh;
  overflow-x: none;
}

.app {
  width: 100%;
  height: 100vh;
}
